.noti-icon .badge {
  left: 23px;
}
.mt-2 {
  margin-top: 20px !important;
}

.dataTables_filter,
.dataTables_paginate {
  float: right;
}

.rdw-editor-main {
  border: 1px solid #eeeef5;
  height: 239px;
}
.dz-message {
  text-align: center;
  padding: 100px;
}
.fcYNFc {
  background-color: #ffffff !important;
}
.task-box {
  border: 1px solid #e1e1e6;
}
.react-datepicker-wrapper {
  width: 100% !important;
}

.ReactModal__Overlay {
  z-index: 1001 !important;
}

.fc-event .fc-content {
  padding: 5px;
  color: #fff;
}
.chat-conversation .right .conversation-list {
  margin-right: 15px;
}

.external-event {
  &:hover {
    cursor: pointer;
  }
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #7BAE40 !important;
}

// vin add custom 

// @import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css);
// @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);
// @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

// body {
//     background-color: #e0e3e8;
//     font-family: "Rubik", sans-serif;
//     font-size: 15px;
//     font-weight: 400;
//     line-height: 24px;
//     color: #727E8C;
// }

// .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
//     color: #475F7B;
// }

// a, a:hover, a:focus {
//     text-decoration: none;
//     transition: 0.5s;
//     outline: none;
// }

// /* ------------ */

// .card {
//     //box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
//     border-radius: 6px;
//     overflow: hidden;
//     margin-bottom: 30px;
//     background-color: #fff;
//     border: none;
    
// }
// .card-body {
//     padding: 30px;
// }
// .btn-primary {
//     border-color: #7BAE40 !important;
//     background-color: #7BAE40 !important;
//     color: #fff;
// }
// .form-submit{
//   padding: 13px 30px;
//   font-size: 15px;
//   letter-spacing: 0.3px;
//   font-weight: 400;
// }
// .kb-data-box {
//     width: 100%;
//     flex: 1;
// }

// .kb-modal-data-title {
//     margin-bottom: 10px;
// }
// .kb-data-title h6 {
//     margin-bottom: 0;
//     font-size: 15px;
//     font-weight: 600;
// }
// .kb-file-upload {
//     margin-bottom: 20px;
// }
// .file-upload-box {
//     border: 1px dashed #b6bed1;
//     background-color: #f0f2f7;
//     border-radius: 4px;
//     min-height: 150px;
//     position: relative;
//     overflow: hidden;
//     padding: 15px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: #8194aa;
//     font-weight: 400;
//     font-size: 15px;
// }
// .file-upload-box .file-upload-input {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     opacity: 0;
//     cursor: pointer;
// }
// .file-link{
//     color: #475f7b;
//     text-decoration: underline;
//     margin-left: 3px;
// }
// .file-upload-box .file-link:hover{
//     text-decoration: none;
// }
// .file-atc-box {
//     display: flex;
//     align-items: center;
//     margin-bottom: 15px;
// }
// .file-image {
//     /* width: 130px;
//     min-width: 130px;
//     height: 85px;
//     min-height: 85px; */
//     width: 130px;
//     height: 85px;
//     background-size: cover;
//     border-radius: 5px;
//     margin-right: 15px;
//     background-color: #eaecf1;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 30px;
//     color: #475f7b;
//     padding: 3px;
// }
// .file-image img{
//     max-width: 100%;
//     max-height: 100%;
//     border-radius: 4px;
// }
// .file-detail {
//     flex: 1;
//     width: calc(100% - 210px);
// }
// .file-detail h6 {
//     word-break: break-all;
//     font-size: 13px;
//     font-weight: 500;
//     line-height: 20px;
//     margin-bottom: 8px;
// }
// .file-detail p {
//     font-size: 12px;
//     color: #8194aa;
//     line-height: initial;
//     font-weight: 400;
//     margin-bottom: 8px;
// }
// .file-actions {
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     align-items: center;
// }
// .file-action-btn {
//     font-size: 12px;
//     color: #8194aa;
//     line-height: 20px;
//     font-weight: 400;
//     margin-bottom: 0;
//     padding: 0;
//     background-color: transparent;
//     border: none;
//     text-decoration: underline;
//     margin-right: 15px;
//     cursor: pointer;
// }
// .file-action-btn:hover {

//     color: #3d546f;
//     text-decoration: underline;
// }
// .file-atc-box:last-child{
//     margin-bottom: 0;
// }


// vin add
// section {
//   margin: 20px;
// }

// input:-webkit-file-upload-button {
//   position: absolute;
//   padding: 10px 20px;
//   background-color: peru;
//   border: none;
//   border-radius: 5px;
//   color: white;
//   text-transform: uppercase;
//   box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(51, 35, 35, 0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
//   transition: 100ms ease-out;
//   cursor: pointer;
// }

// input:-webkit-file-upload-button:hover {
//   background-color: #bd6e1f;
//   box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12)
// }

//vin add

// .bg {
// 	font-family: sans-serif;
// 	background-color: rgb(255, 255, 255);
// 	height: 100vh;
// 	padding:1.5rem;
	
// }

// .hight {
// 	height: 100vh;
// 	display: block;
// }

// .menu{
// 	background-color: white;
// 	padding: 15px;
// 	height:200px;
// 	overflow-x:hidden;
// 		overflow-y: scroll;
//      &::-webkit-scrollbar {
//         width: 10px;
//       }
       
//     &::-webkit-scrollbar-track {
//         background-color: gainsboro ;
//     }
       
//     &::-webkit-scrollbar-thumb {
//         background-color: black;
//         border-radius: 200px;
       
//       }
// }

// .menuItem{
// 	padding: 8px;
// 	margin: 3px 0px;
//   border:none;
	
// }


// thumbnails -- vin

// .gallery {
//   display: flex;
//   flex-direction: column;
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 400px;
// }

// .thumbnails {
//   width: 250px;
//   height: 250px;
//   display: flex; /* makes it fit in like an <img> */
//   background-size: contain; /* or contain */
//   background-position: center center;
//   background-repeat: no-repeat;
//   display: flex;
//   gap: 2rem;
//   justify-content: center;
// }

// .thumbnail-container {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 10px;

// }

// .thumbnail {
//   width: 230px; 
//   height: 230px; 
 
//   object-fit: cover;
// }

.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #fafafa;
  border-radius: 2.5%;
  height: 10%;
}

.thumbnail {
  width: 100%; 
  max-width: 250px; 
  max-height: 150px;
  height: 0; 
  padding-bottom: 50%; 
  position: relative; 
  overflow: hidden; 
}

@media (max-width: 768px) {
  .thumbnail {
    max-width: 100%; 
  }
}


.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  // pointer-events: none;
  cursor: default;
}

.unselectable-two {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

// #sidebar-menu ul li a.active{
//   color: rgb(0, 0, 0) !important;
// }

// #sidebar-menu ul li a i{
//   min-width: 1rem !important;
// }

.MsoBodyText{
  padding-top: 8px;
}
// #sidebar-menu ul li a {
//   padding: 0.5rem 1.5rem !important;
// }

.custom-invalid {
  border: red 1px solid;
}

.react-datepicker-popper {
  z-index: 999;
}

.react-datepicker__year-wrapper {
  justify-content: center;
}