// 
// _table.scss
// 

.table {
  th {
      font-weight: $font-weight-bold;
  }

  .table-light{
    color: $body-color;
    border-color: $table-border-color;
    background-color: $table-head-bg;
  }
}
// vin edit border table - default from: border: $table-border-width solid $table-border-color; => border: 0;
.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: 0;
  }
}
// end edit

.table-dark>:not(:last-child)>:last-child>*{
  border-bottom-color:  $table-dark-border-color;
}

.table-nowrap {
  th, td {
    white-space: nowrap;
  }
}


